/* STYLES FOR RECIPE BLOG
   ========================================================================== */

/* BASE STYLING
   ========================================================================== */
body, html {
	font-size: 20px;
	letter-spacing: 0.05em;
}

/* HOME PAGE
      ========================================================================== */
header nav {
	height: 35px;
	text-align: center;
}

header nav li {
	display: inline-block;
	width: 30%;
	margin: 10px 0px;
}

header nav li a {
	font-weight: bold;
	color: white;
}

header {
	color: white;
	height: 450px;
	background-image: url(../images/cutting-board.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

header h1 {
	margin: 45px 0px 45px 45px;
	font-size: 50px;
	color: white;
	font-family: sans-serif;
	max-width: 600px;
	
}

header p {
	margin: 45px 0px 45px 45px;
	max-width: 600px;

	line-height: 1.2;
	font-size: 20px;
}

main {
	max-width: 900px;
	margin: 0 auto;
}

.blog-home #about h2,
.blog-home #recipes h2 {
	margin: 50px 0px;
	font-size: 25px;
	font-weight: 600;
	padding: 5px;
}

.blog-home #about p,
.blog-home #recipes li {
	max-width: 750px;
	line-height: 1.2;
	padding: 8px;
}

footer {
	text-align: center;
	background: black;
	color: white;
	padding: 40px;
	line-height: 1.5;
	margin-top: 100px;
}

/* ESTHERS RECIPE PAGE
      ========================================================================== */
.esthers-recipe header {
	color: black;
	background-image: url(../images/muffin-esther.jpg);
	background-position: center -10px;
}

.esthers-recipe nav {
	background: black;
}

.esthers-recipe header h1 {
	color: black;
	margin-top: 250px;
	background: white;
	width: 400px;
}

.esthers-recipe h2 {
	font-size: 25px;
	font-weight: 700;
	margin: 50px 0px;
}

.esthers-recipe main p {
	max-width: 750px;
	line-height: 1.2;
	margin: 5px;
}

.esthers-recipe h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0px;
}

.esthers-recipe li {
	line-height: 1.2;
	list-style-position: inside;
	list-style-type: disc;
}

.esthers-recipe ol li {
	list-style-type: decimal;
}

.esthers-recipe img {
	max-width: 100%;
}

/* ----END----- OF ESTHERS RECIPE PAGE
      ========================================================================== */



/* KAAYA'S RECIPE PAGE
      ========================================================================== */
	  /* Typography is the way  that text is arranged and presented from CSS */

.Kaaya-recipe header {
	color: black;
	background-image: url(https://images.unsplash.com/photo-1556912173-3bb406ef7e77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8a2l0Y2hlbiUyMGNhYmluZXRzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
	background-position: center -10px;
}

.Kaaya-recipe nav {
	background: black;
}

.Kaaya-recipe header h1 {
	color: black;
	margin-top: 250px;
	background: white;
	width: 400px;
	border: 2px outset red;
	
}

.Kaaya-recipe h2 {
	font-size: 25px;
	font-weight: 700;
	margin: 50px 0px;
	color: blueviolet;
	border: 10px double red;
}

.Kaaya-recipe main p {
	max-width: 900px;
	line-height: 1.2;
	margin: 5px;
	text-indent: 2em; 
	text-align: justify;
	font-style: italic;
	font-size: 20px;
	/* font-weight: 500px; */
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	background-image: linear-gradient(25deg, #311aff, #ab00ae, #d50060, #523938);
	border-radius: .5rem;
	color: bisque;
}

.Kaaya-recipe h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0px;
	color: rgb(61, 36, 6);
	border: 5px solid purple;
	outline: 5px dashed green;
	outline-offset: 2px;
	background-color: aqua;
}

.Kaaya-recipe li {
	line-height: 1.2;
	list-style-position: inside;
	list-style-type: disc;
	/* border: 2px solid #333;
	border-radius: 2rem; */

}

.Kaaya-recipe ul li:nth-child(even) {
	color: blue;

}
.Kaaya-recipe ol li {
	list-style-position: inside;
	list-style-type: upper-roman;
	/* list-style-type: decimal; */
	/* default is always decimal however you can change that to your desires */
	
		
}

.Kaaya-recipe img {
	max-width: 100%;
}

.plate_image {
	border: 2px solid #333;
	border-radius: 2rem; 
}
aside {
	width: 30%;
	padding-left: 15px;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
	
	
	
	/* background-color: lightgray; */
}

.flex {
	display: flex;
	
}

.flex ul, .flex aside {
	flex: 1;
}


/* ----END----- OF KAAYA'S RECIPE PAGE
      ========================================================================== */