/* STYLES FOR RECIPE BLOG
   ========================================================================== */

/* BASE STYLING
   ========================================================================== */
body,
html {
	font-size: 20px;
	letter-spacing: 0.05em;
}

/* HOME PAGE
      ========================================================================== */
header nav {
	height: 35px;
	text-align: center;
}

header nav li {
	display: inline-block;
	width: 30%;
	margin: 10px 0px;
}

header nav li a {
	font-weight: bold;
	color: white;
}

header {
	color: white;
	height: 450px;
	background-image: url(https://media.istockphoto.com/id/1132051631/photo/injera-with-chicken-doro-wat.webp?b=1&s=170667a&w=0&k=20&c=Qh8phT5JCZIqTyzXkb1w7OPTpwofm6WmsOig3ZPlrfs=);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

header h1 {
	margin: 45px 0px 45px 45px;
	font-size: 50px;
	color: white;
	font-family: sans-serif;
<<<<<<< HEAD
	max-width: 400px;
=======
	max-width: 600px;

>>>>>>> origin
}

header p {
	margin: 45px 0px 45px 45px;
	max-width: 600px;

	line-height: 1.2;
	font-size: 20px;
}

main {
	max-width: 900px;
	margin: 0 auto;
}

.blog-home #about h2,
.blog-home #recipes h2 {
	margin: 50px 0px;
	font-size: 25px;
	font-weight: 600;
	padding: 5px;
}

.blog-home #about p,
.blog-home #recipes li {
	max-width: 750px;
	line-height: 1.2;
	padding: 8px;
}

footer {
	text-align: center;
	background: black;
	color: white;
	padding: 40px;
	line-height: 1.5;
	margin-top: 100px;
}

/* ESTHERS RECIPE PAGE
      ========================================================================== */
.esthers-recipe header {
	color: black;
	background-image: url(../images/muffin-esther.jpg);
	background-position: center -10px;
}

.esthers-recipe nav {
	background: black;
}

.esthers-recipe header h1 {
	color: black;
	margin-top: 250px;
	background: white;
	width: 400px;
}

.esthers-recipe h2 {
	font-size: 25px;
	font-weight: 700;
	margin: 50px 0px;
}

.esthers-recipe main p {
	max-width: 750px;
	line-height: 1.2;
	margin: 5px;
}

.esthers-recipe h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0px;
}

.esthers-recipe li {
	line-height: 1.2;
	list-style-position: inside;
	list-style-type: disc;
}

.esthers-recipe ol li {
	list-style-type: decimal;
}

.esthers-recipe img {
	max-width: 100%;
}

/* ----END----- OF ESTHERS RECIPE PAGE
      ========================================================================== */


<<<<<<< HEAD
	  /* MESERETS RECIPE PAGE
      ========================================================================== */
	  .Meserets-recipe header {
		color: black;
		background-image: url(https://media.istockphoto.com/id/1132051631/photo/injera-with-chicken-doro-wat.webp?b=1&s=170667a&w=0&k=20&c=Qh8phT5JCZIqTyzXkb1w7OPTpwofm6WmsOig3ZPlrfs=);
		background-position: center -5px;
	}
	
	.Meserets-recipe nav {
		background: black;
	}
	
	.Meserets-recipe header h1 {
		color: purple;
		margin-top: 250px;
		background: white;
		width: 400px;
	}
	
	.Meserets-recipe h2 {
		font-size: 25px;
		font-weight: 700;
		margin: 50px 0px;
	}
	
	.Meserets-recipe main p {
		max-width: 750px;
		line-height: 1.2;
		margin: 5px;
	}
	
	.Meserets-recipe h3 {
		font-size: 20px;
		font-weight: 700;
		margin: 20px 0px;
	}
	
	.Meserets-recipe li {
		line-height: 1.2;
		list-style-position: inside;
		list-style-type: disc;
	}
	
	.Meserets-recipe ol li {
		list-style-type: decimal;
		list-style-position: outside;
	}
	
	.Meserets-recipe img {
		max-width: 100%;
	}
	
	/* ----END----- OF MESERETS RECIPE PAGE
		  ========================================================================== */
	
=======

/* CHAD'S RECIPE PAGE
      ========================================================================== */
.chads-recipe nav {
	color: black;
}

.chads-recipe header {
	background-image: url(https://cdn.cp.adobe.io/content/2/dcx/492be529-4c1e-4d51-880a-20ae56a96740/rendition/preview.jpg/version/0/format/jpg/dimension/width/size/1200);
	background-color: blanchedalmond;
}

.chads-recipe {
	background-color: #dfecf5;
}

.chads-recipe p,
b {
	margin: 10px;
	padding: 10px;
}

.chads-recipe ul {
	margin: 10px;
	padding: 10px;
	list-style-type: circle;
}

.chads-recipe li {
	line-height: 1.5;
	list-style-position: inside;
}

.chads-recipe h1 {
	color: red;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.chads-list h2 {
	color: black;
	font-weight: bold;
	text-align: center;
}

.chads-list img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.chads-directions h2 {
	color: black;
	font-weight: bold;
	text-align: center;
}

.chads-directions img {
	padding: 10px;
}

.chads-recipe ol {
	margin: 10px;
	padding: 10px;
	list-style-type: numbers;
}

.chads-recipe img {
	border: 3px solid black;
	padding: 2px;
	margin: 2rem;
}

.chads-bio img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.chads-bio p {
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;

}

/* ----END----- OF CHAD'S RECIPE PAGE
      ========================================================================== */
=======


/* KAAYA'S RECIPE PAGE
      ========================================================================== */
/* Typography is the way  that text is arranged and presented from CSS */

.Kaaya-recipe header {
	color: black;
	background-image: url(https://images.unsplash.com/photo-1556912173-3bb406ef7e77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8a2l0Y2hlbiUyMGNhYmluZXRzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
	background-position: center -10px;
}

.Kaaya-recipe nav {
	background: black;
}

.Kaaya-recipe header h1 {
	color: black;
	margin-top: 250px;
	background: white;
	width: 400px;
	text-shadow: 1px 1px 2px rgb(248, 134, 153);
	border: 2px outset red;
	box-shadow: 2px 2px 2px blue;

}

.Kaaya-recipe h2 {
	font-size: 25px;
	font-weight: 700;
	margin: 50px 0px;
	color: blueviolet;
	border: 10px double red;
}


.Kaaya-recipe main p {
	max-width: 900px;
	line-height: 1.2;
	margin: 5px;
	text-indent: 2em;
	text-align: justify;
	font-style: italic;
	font-size: 20px;
	/* font-weight: 500px; */
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	background-image: linear-gradient(25deg, #311aff, #ab00ae, #d50060, #523938);
	border-radius: .5rem;
	color: bisque;
}

.Kaaya-recipe h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0px;
	color: rgb(61, 36, 6);
	border: 5px solid purple;
	outline: 5px dashed green;
	outline-offset: 2px;
	background-color: aqua;
}

.Kaaya-recipe li {
	line-height: 1.2;
	list-style-position: inside;
	list-style-type: disc;
	/* border: 2px solid #333;
	border-radius: 2rem; */

}

.Kaaya-recipe ul li:nth-child(even) {
	color: blue;

}

.Kaaya-recipe ol li {
	list-style-position: inside;
	list-style-type: upper-roman;
	/* list-style-type: decimal; */
	/* default is always decimal however you can change that to your desires */


}

.Kaaya-recipe img {
	max-width: 100%;
}

.plate_image {
	padding-top: 15px;
	 /* border: 2px solid #333;  */
	border-radius: 2rem;
	filter: drop-shadow(0 0 0.50rem crimson);
}

aside {
	width: 30%;
	/* padding-left: 15px; */
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
	padding: auto;



	/* background-color: lightgray; */
}

/* added this flex statement for alignment for <aside> to work */
.flex {
	display: flex;

}

.flex ul,
.flex aside {
	flex: 1;
}


/* ----END----- OF KAAYA'S RECIPE PAGE
      ========================================================================== */
=======
	  
/* HEATHERS RECIPE PAGE
      ========================================================================== */

.heather-recipe header {
	color: black;
	background-image: url(../images/Fresh_Veggies.jpg);
	background-position: center -10px;
}

.heather-recipe nav {
	background: black;
}

.heather-recipe header h1 {
	color: white;
	margin-top: 250px;
	background: green;
	width: 400px;
	padding: 15px;
}

.heather-recipe h2 {
	font-size: 25px;
	font-weight: 700;
	margin: 50px 0px;
}

.heather-recipe main p {
	max-width: 750px;
	line-height: 1.2;
	margin: 5px;
}

.heather-recipe h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0px;
}

.heather-recipe li {
	line-height: 1.2;
	list-style-position: inside;
	list-style-type: disc;
}

.heather-recipe ol li {
	list-style-type: decimal;
}

.heather-recipe img {
	max-width: 100%;
}


/* ----END----- OF HEATHERS RECIPE PAGE
      ========================================================================== */


/* LINDA's RECIPE PAGE
      ========================================================================== */

.lindas-recipe header {
	background-image: url(../images/Linda\ in\ kitchen.jpg);
	background-position: center;
	border: solid black 1px;
	border-radius: 7px;

}

.lindas-recipe header nav li a {
	font-weight: bold;
	color: rgb(112, 129, 145);
}


.lindas-recipe nav {
	background: lightgray;
	border-radius: 7px;

}

.lindas-recipe img {
	max-width: 80%;
	border: solid black 1px;
	border-radius: 7px;
}


.lindas-recipe header h1 {
	color: darkslategray;
	margin-top: 250px;
	background: rgba(211, 211, 211, .6);
	width: 400px;
	border-radius: 7px;
	padding: 5px;
	text-align: center;
	border: solid 1px;
}

.lindas-recipe h2 {
	font-size: 25px;
	font-weight: 700;
	margin: 50px 0px;
	color: darkslategray;
	text-decoration: underline wavy .25px;
	background-color: lightgray;
	border-radius: 7px;
	padding: 15px;
	border: solid 1px;
	text-align: center;
}

.lindas-recipe li {

	line-height: 1.25;
	list-style-position: inside;
	list-style-type: square;

}

.lindas-recipe ol li {
	list-style-type: decimal;
	line-height: 1.25;
	font-size: medium;
	inset-inline: 5px;
	padding: 6px;

}


.lindas-recipe aside {
	width: 30%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 15px;
	float: right;
	font-style: italic;
	background-color: lightgray;
	border-radius: 7px;
	border: solid 1px;
}

.lindas-recipe h3 {
	color: darkslategray;
	font-weight: bold;
	border-color: lightgray;
	text-decoration: underline;
	background-color: lightgray;
	border-radius: 7px;
	border: solid 1px;
	padding: 11px;
	width: 20%;
	text-align: center;
}

.lindas-recipe p {
	line-height: 1.25;
	font-size: medium;
}

.lindas-recipe ul {
	line-height: 1.5;
	font-size: medium;
}

.lindas-recipe h4 {
	color: darkslategray;
}

/* ----END----- OF LINDA's RECIPE PAGE
      ========================================================================== */



>>>>>>> origin
